<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Landing page promised desire." />
    <title>My Desired Utopias - Restaurant Apps</title>
  </head>
  <body>
    <a href="#favourites-content" class="skip-link">Skip to content</a>
    <header>
      <nav class="my-header white-nav" id="my-header">
        <div class="flex p-15" id="nav-desktop">
          <div>
            <a href="/">
              <img
                src="./images/logo/logobeta.png"
                width="200"
                alt="Logo The Promised Desire"
              />
            </a>
          </div>
          <div class="hundred">
            <ul class="my-ul">
              <li><a href="/" class="black" id="my-list1">Home</a></li>
              <li>
                <a href="/favourites.html" class="black" id="my-list2"
                  >Favourite</a
                >
              </li>
              <li>
                <a
                  href="https://github.com/daffavcd"
                  id="my-list3"
                  class="black"
                  target="_blank"
                  rel="noopener"
                  >About Me</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="topnav">
          <a href="/" class="active">
            <img
              src="./images/logo/logobeta.png"
              width="200"
              id="logo-nav"
              alt="Logo The Promised Desire"
            />
          </a>
          <a href="javascript:void(0);" id="hamburger-btn" class="icon">
            <i class="fa fa-bars"></i>
          </a>
          <div id="myLinks">
            <ul>
              <li class="flex"><a class="left-hundred" href="/">Home</a></li>
              <li class="flex">
                <a class="left-hundred" href="/">Favourite</a>
              </li>
              <li class="flex">
                <a
                  class="left-hundred"
                  target="_blank"
                  rel="noopener"
                  href="https://github.com/daffavcd"
                  >About Me</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="main-content">
      
    </main>
    <footer>
      <div class="my-footer text-center">
        Copyright © 2022 - The Promised Desire
      </div>
    </footer>
    <script>
     
    </script>
  </body>
</html>
