<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps Starter Pwrojects</title>
  </head>
  <body>
    <header>
      <div class="container my-header">
        <div class="left">
          <img src="./images/logo/logobeta.png" width="200" alt="" />
        </div>
        <div class="right">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">Favourite</a></li>
            <li><a href="#news">About Us</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <img src="./images/heros/hero-image_2.jpg" style="width: 100%" alt="" />
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row text-center">
          <h1>Explore Restaurant</h1>
        </div>
      </div>
      <div class="container p-15">
        <div class="card">
          <div class="row relative">
            <img
              src="https://restaurant-api.dicoding.dev/images/medium/41"
              alt="Bring Your Phone Cafe"
            />
            <div class="image-badge">Kota Medan</div>
          </div>
          <div class="card-body">
            <div class="row inline-block">
              <div class="left"><h4>Bring Your Phone Cafe</h4></div>
              <div class="right flex mt-20">
                <div>
                  <img
                    src="./images/heros/star.png"
                    alt="Star"
                    style="width: 21px"
                  />
                </div>
                <font class="b-18">
                  &nbsp4.5<font class="f-12">/5 </font>
                </font>
              </div>
            </div>
            <p style="margin-top: -10px">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
              vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
              imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
              mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
              semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
              porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
              ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
              viverra nulla ut metus varius laoreet.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="my-footer text-center">
        Copyright © 2022 - The Promised Desire
      </div>
    </footer>
  </body>
</html>
