<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Desired Utopias - Restaurant Apps</title>
  </head>
  <body>
    <a href="#explore-content" class="skip-link">Skip to content</a>
    <header>
      <nav class="my-header" id="my-header">
        <div class="flex p-15" id="nav-desktop">
          <div>
            <a href="/">
              <img
                src="./images/logo/logobeta.png"
                width="200"
                alt="Logo The Promised Desire"
              />
            </a>
          </div>
          <div class="hundred">
            <ul class="my-ul">
              <li><a href="/" id="my-list1">Home</a></li>
              <li><a href="#" id="my-list2">Favourite</a></li>
              <li>
                <a
                  href="https://github.com/daffavcd"
                  id="my-list3"
                  target="_blank"
                  >About Me</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="topnav">
          <a href="/" class="active">
            <img
              src="./images/logo/logobeta.png"
              width="200"
              id="logo-nav"
              alt="Logo The Promised Desire"
            />
          </a>
          <div id="myLinks">
            <a href="/">Home</a>
            <a href="/">Favourite</a>
            <a href="https://github.com/daffavcd">About Me</a>
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
      <div class="container mt-150-minus bg-black relative text-center">
        <img
          src="./images/heros/hero-image_2.jpg"
          class="dark-overlay"
          style="width: 100%"
          alt="Hero Background"
        />
        <div class="centered">
          <font class="text-head">My Desired Utopias</font><br />
          <font class="text-head2"
            >there is a fragmentary of neverland for sure.</font
          >
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row text-center">
          <h1>Explore Your Utopias</h1>
        </div>
      </div>
      <div class="container p-15 flex-wrap" id="explore-content"></div>
      <div class="container">
        <div class="row text-center p-15">
          <h1>in a collaboration with</h1>
        </div>
      </div>
      <div class="container p-15">
        <div class="text-center relative row" style="margin-bottom: 35px">
          <img
            src="./images/heros/starbucks.png"
            class="starbuck-overlay"
            style="width: 500px; margin: auto"
            alt="Starbucks"
          />
        </div>
      </div>
    </main>
    <footer>
      <div class="my-footer text-center">
        Copyright © 2022 - The Promised Desire
      </div>
    </footer>
    <script>
      function myFunction() {
        var x = document.getElementById('myLinks');
        if (x.style.display === 'block') {
          x.style.display = 'none';
        } else {
          x.style.display = 'block';
        }
      }
    </script>
  </body>
</html>
