$orange-main: #feb139;
$orange-badge: #ffd36e;
$white-main: #ffffff;

#myLinks {
  display: none;
}

.topnav {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: $white-main;
  color: $orange-main;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.centered {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

img {
  display: block;
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: poppins;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: $white-main;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: $orange-main;
}

.container {
  /* background-color: $white-main; */
  display: flex;
}

.my-header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.white-nav {
  background-color: $white-main;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 22%);
}

.dark-overlay {
  object-fit: cover;
  opacity: 0.4;
  transform-origin: 65% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

.dark-overlay:hover {
  /* HEHEHEHEHE */
  transform: scale(1.004);
}

.starbuck-overlay {
  transform-origin: 65% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

.starbuck-overlay:hover {
  transform: scale(1.08);
}

.explore-image img {
  transition: transform 1s, filter 0.5s ease-out;
}

.explore-image:hover img {
  transform: scale(1.004);
}

.bg-black {
  background: black;
}

.mt-150-minus {
  margin-top: -150px;
}
.text-center {
  text-align: center;
}

.my-footer {
  padding: 20px;
  background-color: #f3f6f9;
}

.row {
  width: 100%;
}

.flex {
  display: flex;
  float: none;
}

.left-hundred {
  width: 100%;
  text-align: left;
}

.card {
  flex: 1 0 31%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 32%;
  margin: 0px 10px 25px 10px;
  border-radius: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-body {
  padding: 2px 16px;
  background-color: $white-main;
}

.p-15 {
  padding: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: $orange-badge;
  padding: 5px;
  border-radius: 1.5px;
  opacity: 0.9;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mt-20 {
  margin-top: 20px;
}

.b-18 {
  font-weight: bold;
  font-size: 18px;
}

.f-12 {
  font-size: 12px;
  color: #9e9e9e;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-head {
  font-size: 4em;
  color: $white-main;
}

.text-head2 {
  font-size: 1.5em;
  color: $white-main;
}

.black {
  color: black;
}

.hundred {
  width: 100%;
}

.my-ul {
  position: absolute;
  right: 15%;
}

@media screen and (max-width: 767px) {
  .topnav {
    display: block;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  #nav-desktop {
    display: none;
  }

  .bg-black {
    margin-top: 50px;
  }

  .text-head {
    font-size: 2em;
  }

  .card {
    flex: 1 0 100%;
    margin: 0px 10px 25px 0px;
  }

  .text-head2 {
    display: none;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: $white-main;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: $orange-main;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: $orange-main;
    color: black;
  }

  .active {
    color: $white-main;
  }

  #logo-nav {
    width: 150px;
  }

  .icon {
    margin: 7px;
  }
}
